.sign_in_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign_in_form h2 {
  color: var(--red-dark);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sign_in_form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
