.primary_btn {
  background-color: var(--red-dark);
  color: var(--white);
  padding: 20px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary_btn:hover {
  background-color: var(--red-light);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(171, 49, 48, 0.3);
}

@media (max-width: 480px) {  
  .primary_btn {
    padding: 16px;
    font-size: 18px;
  }
}

