.flex_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.flex_container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--red-dark);
  margin-right: 10px;
}

.flex_container label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--red-dark);
  transition: all 0.2s ease;
  user-select: none;
}

.btn_forgot_password {
  background: none;
  border: none;
  color: var(--red-light);
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
}

.btn_forgot_password:hover {
  color: var(--red-dark);
}