.secondary_btn {
  background-color: transparent;
  color: var(--red-dark);
  padding: 18px;
  border: 2px solid var(--red-dark);
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondary_btn:hover {
  background-color: rgba(171, 49, 48, 0.05);
  transform: translateY(-2px);
}

@media (max-width: 480px) {  
  .secondary_btn {
    padding: 16px;
    font-size: 18px;
  }
}

